/* 
   Estilos principales para el proyecto Binds
   Autor: Diego Jonguitud Galindo
   Versi칩n: 1.0
   Fecha: 2023-12-27 00:05 A.M.
*/

:root {
    --background-color: #010a07;
    --secondary-color: #FFFAFF;
    --font-color: #ffffff;
    
}

h1, h2, h3, p {
    font-size: 1em; /* Tama침o relativo al tama침o base */
    margin-bottom: 10px; /* Espacio entre elementos */
  }

body {
    font-family: 'Montserrat','Arial', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

/* Dise침o */
.main_container {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "slogan"
        "aside"
        "footer";
    min-height: 100vh;
    place-items: center;
    background-image: radial-gradient(circle, rgba(0, 66, 170, 1) 0%, rgba(1, 10, 7, 1) 35%);


}

/* Nav Bar*/

nav {
    color: var(--font-color);
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: first baseline; 
    border-bottom: solid 1px rgba(0, 0, 0, 0.485);
    max-height: 100px;
}

.logo-box {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#logo {
    max-width: 100%;
    
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    color: var(--font-color);
    padding: 15px;
    text-align: center;
    
}

nav li:last-child {
    border-right: none; 
}

nav a {
    position: relative;
    text-decoration: none !important;
    color: var(--font-color);
    font-weight: bold;
    font-size: 14px;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 1px; 
    background-color: var(--background-color); 
    transition: width 0.5s; 
  }

nav a:hover::before {
    width: 100%; 
  }

/* Slogan Section */

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    grid-area: slogan;
    width: 80%;
    
}

.slogan {
    width: 50%;
    text-align: center;

}

.slogan h1 {
    font-size: 3rem;
    font-weight: 500;
}

.btn-ver-planes {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #2cada4;
    color: #000000;
    text-decoration: none !important;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn-ver-planes:hover {
    background-color: #0056b3;
  }

.hero-img {
    max-width: 50%;
}

#webpage {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}



/* Aside */

aside {
    grid-area: sidebar;

}

/* Footer */

footer {
    grid-area: footer;
}

/* Colores */

.primary-color {
    color: #3498db;
}

/* Enlaces */

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}