/* 
   Estilos principales para el proyecto Binds
   Autor: Diego Jonguitud Galindo
   Versión: 1.0
   Fecha: 2023-12-27 00:05 A.M.
*/

:root {
    --background-color: #1e1b18;
    --secondary-color: #FFFAFF;
    --font-color: #1e1b18;
}

body {
    font-family: 'Montserrat','Arial', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
}

/* Diseño */
.main_container {
    width: 100vw;
    margin: 0 auto;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "nav"
        "slogan"
        "aside"
        "footer";
    min-height: 100vh;
    place-items: center;


}

/* Nav Bar*/

nav {
    color: var(--font-color);
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: first baseline; 
    border-bottom: solid 1px rgba(0, 0, 0, 0.485);
    max-height: 100px;
}

.logo-box {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

#logo {
    max-width: 100%;
    
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    color: var(--font-color);
    padding: 15px;
    text-align: center;
    
}

nav li:last-child {
    border-right: none; 
}

nav a {
    position: relative;
    text-decoration: none !important;
    color: var(--font-color);
    font-weight: bold;
    font-size: 14px;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 1px; 
    background-color: var(--background-color); 
    transition: width 0.5s; 
  }

nav a:hover::before {
    width: 100%; 
  }

/* Slogan Section */

.slogan {
    grid-area: slogan;
}

/* Aside */

aside {
    grid-area: sidebar;

}

/* Footer */

footer {
    grid-area: footer;
}

/* Colores */

.primary-color {
    color: #3498db;
}

/* Enlaces */

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}