/* 
   Estilos principales para el proyecto Binds
   Autor: Diego Jonguitud Galindo
   Versión: 1.0
   Fecha: 2023-12-27 00:05 A.M.
*/

:root {
    --background-color: #191919;
    --secondary-color: #362FD9;
}

/* Tipografía */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
}

/* Diseño */
.main_container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr; /* Una columna */
    grid-template-areas:
                "nav"
                "slogan"
                "aside"
                "footer";
    min-height: 100vh;
    place-items: center;

}

/* Nav Bar*/

nav {
    color: white;
    flex-grow: 1; /* El menú ocupará todo el espacio disponible */
    min-width: 50%;
    max-width: 70%;
    grid-area: nav;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    max-width: 200px; /* Establecer el ancho máximo del logo */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 30px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar horizontalmente los elementos */
}

nav li {
    padding: 15px;
    text-align: center;
    
}

nav li:last-child {
    border-right: none; /* No aplicar línea divisoria al último elemento */
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
}

.boton-especial {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px;
}

/* Slogan Section */

.slogan {
    grid-area: slogan;
}

/* Aside */

aside {
    grid-area: sidebar;

}

/* Footer */

footer {
    grid-area: footer;
}

/* Colores */

.primary-color {
    color: #3498db;
}

/* Enlaces */

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}