/* 
   Estilos principales para el proyecto Binds
   Autor: Diego Jonguitud Galindo
   Versión: 1.0
   Fecha: 2023-12-27 00:05 A.M.
*/

:root {
    --background-color: #191919;
    --secondary-color: #362FD9;
}

/* Tipografía */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background-color);
}

/* Diseño */
.main_container {
    width: 80%;
    margin: 0 auto;
    background-color: var(--secondary-color);
}

/* Colores */
.primary-color {
    color: #3498db;
}

/* Enlaces */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}